[run]
branch = True
source = simdiff

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
    \.\.\.
    def rpc\(

[paths]
source =
    src/simdiff
